body {
    min-height: 100vh;
    max-width: 100vw;
    background-image: url(./background.png);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    text-align: center;
    user-select: none;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.title h1 {
    margin-left: 40px; 
}


.links {
    display: flex;
    margin-right: 10px;
}

.links h3 {
    margin-right: 30px; 
}

.image-container {
    display: grid;
            grid-template-columns: repeat(3, 1fr); /* 每行六列，每列平均分配剩余空间 */
            gap: 10px; /* 图片之间的间距 */
            justify-content: center; /* 图片水平居中 */
            user-select: none;
            
            
}

.image-container img {
    border-radius: 25px;
    width: 80%; 
    height: 70%; 
    margin: 10%; 
    transition: transform 0.3s ease;
    user-select:none
    
    
}


.image-container img:hover {
    transform: scale(1.05); /* 在鼠标悬停时放大图片 */
}


main{
    margin-top: 6%;
}


.week1 {
    position: relative; 
}

.image-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.week1:hover .image-text {
    opacity: 1; /* 鼠标悬停时显示文字 */
}


.week2 {
    position: relative; 
}



.week2:hover .image-text {
    opacity: 1; /* 鼠标悬停时显示文字 */
}


.week3 {
    position: relative; 
}



.week3:hover .image-text {
    opacity: 1; /* 鼠标悬停时显示文字 */
}

a {
    color: aliceblue; /* 默认文字颜色 */
}
a:hover{
    transform: scale(1.05)
}
p:hover{
     transform: scale(1.05)
}
